<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "parent.html" %}
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
    <div class="bs-example">
    <h1>Registration Form</h1>
    <form class="form-horizontal" action="/examples/actions/confirmation.php" method="post">
        <div class="form-group">
            <label class="control-label col-xs-3" for="firstName">First Name:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="lastName">Last Name:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
            </div>
        </div>
		<div class="form-group">
            <label class="control-label col-xs-3" for="inputEmail">Email Address:</label>
            <div class="col-xs-9">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="password">Password :</label>
            <div class="col-xs-9">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <label class="checkbox-inline">
                    <input type="checkbox" value="agree">  I agree to the <a href="#">Terms and Conditions</a>.
                </label>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Submit">
                <input type="reset" class="btn btn-default" value="Reset">
            </div>
        </div>
    </form>
</div>
      <div class="bs-example">
    <h1>Sign in Form</h1>
    <form class="form-horizontal" action="/examples/actions/confirmation.php" method="post">
		<div class="form-group">
            <label class="control-label col-xs-3" for="inputEmail">Email Address:</label>
            <div class="col-xs-9">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="password">Password :</label>
            <div class="col-xs-9">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Submit">
                <input type="reset" class="btn btn-default" value="Reset">
            </div>
        </div>
    </form>
</div>



{% endblock content %}

</body>
</html>