<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "Parent.html" %}
    <meta charset="UTF-8">
</head>
{% block content %}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){

        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        var nameId = 'name'+{{ seat_id }};
        document.getElementById(nameId).innerHTML = '{{ user_name }}';

        socket.emit('get_seat_data', '{{ table_id }}');

        {#jquery bindings#}
        $('#get_hand').click(function(){ get_hand(); return false;});
        $('#hit').click(function(){ hit(); return false;});


        {#SOCKET FUNCTIONS#}
        socket.on('seat_data_acquired', function (seats) {
            console.log(seats);
            for(var i = 0; i < seats.length; i++){
                var id = i + 1;
                var nameId = 'name'+id;
                document.getElementById(nameId).innerHTML = seats[i];
            }
        });

        socket.on('seat_changed', function(msg) {
            $('div#log').append('<p>Seat_Changed: ' + msg['seat'] +' ' + msg['name'] + '</p>');
            var nameId = 'name'+msg['seat'];
            document.getElementById(nameId).innerHTML = msg['name'];
        });

        socket.on('hand_update', function(data){
           $('div#log').append('<p>Hand_Update: ' + data['seat'] + ' ' + data['hand'] + '</p>');
           var handId = '#hand'+data['seat'];
           var handData = data['hand'][0];
           console.log(handData);
           var totalId = 'total'+data['seat'];
           var handTotal = parseInt(document.getElementById(totalId).innerHTML);
           console.log(totalId + ": " + handTotal);
           Object.keys(handData).forEach(function(k){
               $(handId).append('<p>' + k + ': ' + handData[k] + '</p>');
               handTotal += handData[k];
           });
            document.getElementById(totalId).innerHTML = handTotal;
        });

        socket.on('status_changed', function(state) {
            $('div#log').append('<p>Status_Changed: '+ state + '</p>');
            state_change(state);
        });

        function get_hand(){
            socket.emit('get_hand', '{{ table_id }}');
        }
        function hit() {
            socket.emit('hit','{{ table_id }}');
        }
        {#END SOCKET FUNCTIONS#}
    });


    function state_change(state){
        switch (state) {
            case -2:    //table empty -> begin betting
                console.log('First Player To Join Table');
                break;
            case -1:    //Betting round

                break;
            case 0:     //Dealing round
                break;
            case 6:     //last players turn
                break;
            default:   //any players turn
                var balancePath = 'p#'+state;
                $(balancePath).textContent = 'State :' + state;
                break;
        }
    }


    </script>
<body>

    <h1>UNDER CONSTRUCTION</h1>
       <a href="{{ url_for('leave_table', table_id=table_id) }}">
                <button>LEAVE</button></a>
    <br><br><br>

    <div class="players">
        {% for i in range(1,7) %}
            <div class="seat" id={{i}}>
                <div id='hand{{ i }}'>Hand:
                <p id='total{{ i }}'>0</p></div>

                <h4 id='name{{ i }}'></h4>

                {% if (i == seat_id) %}
                    <a id="get_hand" >Get Hand</a>
                    |
                    <a id="hit">Hit</a>
                    |
                    <a id="stand" >Stand</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="dealer">
        <div id="hand7">

    </div>
    <br>

<div id="log">nothing received yet</div>

{% endblock content %}
</body>
</html>