<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    {% if title %}<!--if it has a title it will be assigned else its title will be black jack-->
        <title>{{title}}</title>
     {% else %}
        <title>BlackJack</title>
    {% endif %}
</head>
<body>
<div class="navbar1">
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#Account ">Account</a></li>
  <li><a href="#Join Game">Join Game</a></li>
  <li><a href="#about">Sign out </a></li>
</ul>
</div>

<div class="main">
    {% block main %}
    {% endblock %}
</div>

</body>
</html>